.header {
  background-color:#233142;
}

.nav {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
.title {
  margin-left: 50px;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #e3e3e3
}

.search {
  outline: none;
  justify-content: right;
}
.nav-right {
  display: flex;
}
