.posts {
  margin: 40px;
}

.img{
  width: 340px;
  height: 156px;
  object-fit: cover;
  border-radius: 6px;
}

.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
 
}

.post-list {
  padding: 0px;
}

.post-image {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: #e3e3e3;
  transition: color 0.2s ease-in-out;
}

a:hover{
  color: #f95959;
}

.post{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 20px;
  border-bottom: 2px solid #233142;
  padding: 5px;
}

.post-title, .post-author, .post-content {
  margin: 0;

}