.posts {
  margin: 40px;
}

.img{
  width: 340px;
  height: 156px;
  object-fit: cover;
  border-radius: 6px;
}

.city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
 
}

.post-list {
  padding: 0px;
}

.post-image {
  width: 120px;
  height: 120px;
  background-color: red;
  margin-right: 10px;
}

.post{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 20px;
  border-bottom: 2px solid #233142;
  padding: 5px;
}

.post-title, .post-author, .post-content {
  margin: 0;

}