<div class="posts">
  <div class="city">
    <div>
      <h2>{{city.name}}</h2>
      <h4>{{city.country}}</h4>
    </div>
    <img class="img" src = "{{city.photoLarge}}"/>
  </div>
  <h3>Posts</h3>
  <ul class="post-list">
    <ng-container *ngFor="let post of posts" >
      <li class="post" *ngIf = "city.id == post.cityId">
          <img src="{{city.photoSmall}}" class="post-image"/>
        <div>
          <h4 class="post-title">{{ post.title }}</h4>
          <h6 class="post-author"> Author: {{post.author}} </h6>
          <p class="post-content">{{(post.content.length>200)? (post.content | slice:0:200)+'...':(post.content)}}</p>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
