<div class="col">
  <div ngbDropdown class="d-inline-block">
    <button
      type="button"
      class="btn btn-light"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Cities
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a ngbDropdownItem routerLink="cities/1">San Francisco</a>
      <a ngbDropdownItem routerLink="cities/2">London</a>
      <a ngbDropdownItem routerLink="cities/3">Seattle</a>
      <a ngbDropdownItem routerLink="cities/4">Sydney</a>
    </div>
  </div>
</div>
